.nav {
  background: linear-gradient(#800080, #000000);
  padding: 37px; }
  .nav__list {
    margin: 0px;
    padding: 25px;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    border-style: ridge;
    border-radius: 15px;
    justify-content: space-around; }
  .nav__item {
    width: 60px;
    list-style: none; }
  .nav__link {
    width: 60px;
    color: white;
    list-style: none;
    text-decoration: none; }
    .nav__link:hover {
      background-color: #df7edf;
      transition: background 0.5; }
